<div class="form-piece row mt-2">
    <form class="col-sm-12">
        <div class="form-group">
            <label for="selectTypePiece">Sélectionnez la pièce à ajouter</label>
            <select  id="selectTypePiece" class="form-control type-piece">
                <option value="0">Salon</option>
                <option value="1">Salle à manger</option>
                <option value="2">Cuisine</option>
                <option value="3">Chambre</option>
                <option value="4">Salle de bain</option>
            </select>
            <div class="row mt-2">
                <div class="col-sm-6">
                    <button class="btn btn-primary icon" id="icon-buble"><i class="fa fa-lightbulb-o"></i></button>
                    <div class="picker-color-container">

                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </form>
</div>